# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
ENV/

# Packaging/build outputs
*.egg-info/
build/
dist/

# Local runtime outputs
logs/
*.log
mlflow.db
mlruns/

# Generated ML artifacts and data
artifacts/

# Local/editor files
.env
.env.*
.vscode/
.idea/
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store
